<div class="row" *ngIf="admin && !MachineNotFounderror">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>speedframe</nb-card-header>
      <nb-card-body>
        <canvas id="canvas"></canvas>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row" *ngIf="admin">
  <div *ngIf="MachineNotFounderror">
    <nb-card class="text-center">
      <nb-card-body>
        <h2>Speed Frame Machine Not Found</h2>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-12" *ngIf="!MachineNotFounderror">
    <nb-card>
      <nb-card-body>
        <nb-tabset fullWidth>
          <nb-tab tabTitle="All Machine">
            <div class="row">
              <div class="col-md-3" *ngFor="let cost of demo; let i = index">
                <nb-card status="danger">
                  <nb-card-header>{{cost.name}}</nb-card-header>
                  <nb-card-body>
                  </nb-card-body>
                  <nb-card-footer>By Speed Frame</nb-card-footer>
                </nb-card>
              </div>
            </div>
          </nb-tab>
          <nb-tab tabTitle="Search One Date"><br>
            <form [formGroup]="SingleDate" (ngSubmit)="onDateSingleSubmit()">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="date" nbInput fullWidth id="Date" placeholder="Search Date" formControlName="date">
                  </div>
                </div>
                <div class="col-md-6">
                  <button nbButton status="danger">Submit</button>
                </div>
              </div>
            </form>
            <div *ngIf="adminOneDate">
              <ng2-smart-table [settings]="settings1" [source]="source1">
              </ng2-smart-table>
              <button nbButton status="danger" (click)="downloadSingle()">Download</button>
            </div>
          </nb-tab>
          <nb-tab tabTitle="Search Date">
            <form [formGroup]="TwoDate" (ngSubmit)="onDateSubmit()">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <input type="date" nbInput fullWidth id="Date" placeholder="Search Start Date"
                      formControlName="start">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <input type="date" nbInput fullWidth id="end" placeholder="Search End Date" formControlName="end">
                  </div>
                </div>
                <div class="col-md-4">
                  <button nbButton status="danger">Submit</button>
                </div>
              </div>
            </form>
            <div *ngIf="adminTwoDate">
              <ng2-smart-table [settings]="settings1" [source]="source2">
              </ng2-smart-table>
              <button nbButton status="danger" (click)="download()">Download</button>
            </div>
          </nb-tab>
        </nb-tabset>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row" *ngIf="superviser">
  <div *ngIf="MachineNotFounderror">
    <nb-card class="text-center">
      <nb-card-body>
        <h2>Speed Frame Machine Not Found</h2>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-12" *ngIf="!QcMachineParameterNotSetError">
    <nb-card>
      <nb-card-header>{{todayDate | date: 'dd/MM/yyyy'}}
        <button class="btn-float" *ngIf="shiftData || shiftData1" nbButton status="danger" (click)="addParameter(dialog)">Add Parameter</button>
      </nb-card-header>
      <nb-card-body>
        <ng2-smart-table [settings]="superviserViewData" [source]="source">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row" *ngIf="qc">
  <div *ngIf="MachineNotFounderror">
    <nb-card class="text-center">
      <nb-card-body>
        <h2>Speed Frame Machine Not Found</h2>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-12" *ngIf="!MachineNotFounderror">
    <nb-card>
      <nb-card-header>{{ time | date: 'dd/MM/yyyy'}}
      </nb-card-header>
      <nb-card-body>
        <hr>
        <div *ngIf="qcokay">
          <form [formGroup]="simplexpara" (ngSubmit)="onSimplexSubmit()">
            <div formArrayName="simplexparaData">
              <div *ngFor="let party of SimplexGet.controls; let i = index">
                <div [formGroupName]="i">
                  <div class="row">
                    <div class="col-md-4">{{party.controls.simplex.value.name}}</div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <label for="para1-{{i}}" class="label">SPINDLE SPEED</label>
                        <input type="tel1" nbInput fullWidth id="para1-{{i}}" pattern="[0-9]{4}"
                          placeholder="ENTER SPINDLE SPEED" formControlName="speedRpm" (keydown)="NumberOnly($event)"
                          [status]="party.get('speedRpm').touched ? (party.get('speedRpm').invalid  ? 'danger' : 'success') : 'basic'">
                        <small *ngIf="party.get('speedRpm').invalid && party.get('speedRpm').touched"
                          class="red">Spindle Speed is required</small>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <label for="para4-{{i}}" class="label">MACHINE EFFICIENCY</label>
                        <!-- pattern="([0-9]{1})+\.([0-9]{3})" -->
                        <input type="text" nbInput fullWidth id="para4-{{i}}" placeholder="ENTER MACHINE EFFICIENCY"
                          formControlName="machineEfficiency"
                          [status]="party.get('machineEfficiency').touched ? (party.get('machineEfficiency').invalid  ? 'danger' : 'success') : 'basic'">
                        <small *ngIf="party.get('machineEfficiency').invalid && party.get('machineEfficiency').touched"
                          class="red">Machine Efficiencyis required</small>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <label for="para2-{{i}}" class="label">TM</label>
                        <!-- pattern="([0-9]{1})+\.([0-9]{3})" -->
                        <input type="text" nbInput fullWidth id="para2-{{i}}" placeholder="ENTER TM"
                          formControlName="tm"
                          [status]="party.get('tm').touched ? (party.get('tm').invalid  ? 'danger' : 'success') : 'basic'">
                        <small *ngIf="party.get('tm').invalid && party.get('tm').touched" class="red">TM is
                          required</small>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <label for="para3-{{i}}" class="label">ROVING HANK</label>
                        <input type="text" nbInput fullWidth id="para3-{{i}}" placeholder="ENTER ROVING HANK"
                          formControlName="rovingHank"
                          [status]="party.get('rovingHank').touched ? (party.get('rovingHank').invalid  ? 'danger' : 'success') : 'basic'">
                        <small *ngIf="party.get('rovingHank').invalid && party.get('rovingHank').touched"
                          class="red">Roving Hank is required</small>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
              </div>
            </div>
            <div *ngIf="(SimplexGet.controls.length != 0)">
              <button type="submit" nbButton status="danger"
                [disabled]="simplexpara.get('simplexparaData').invalid">Submit</button>
            </div>
          </form>
        </div>
        <div *ngIf="qcdataokay">
          <ng2-smart-table [settings]="settings" [source]="source">
          </ng2-smart-table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>


<ng-template #dialog let-ref="dialogRef">
  <nb-card class="scroll-bar">
    <nb-card-header>
      <div *ngIf="shiftA1">8:00 AM To 2:00 PM</div>
      <div *ngIf="shiftA2">2:00 PM To 8:00 PM</div>
      <div *ngIf="shiftB1">8:00 PM To 2:00 AM</div>
      <div *ngIf="shiftB2">2:00 AM To 8:00 AM</div>
    </nb-card-header>
    <nb-card-body>

      <div *ngIf="shiftA1">
        <form [formGroup]="simplexparameterAone" (ngSubmit)="onSimplexParameterAoneSubmit(); clicked = true;">
          <div formArrayName="parareading">
            <div  *ngFor="let cost of SimplexParaAoneGet.controls; let i = index" [formGroupName]="i">
              <div class="row">
                <div class="col-md-12" *ngIf="shiftData">
                  <div class="form-group">
                    <label for="parameter-{{i}}"
                    class="label">{{cost.controls.description._pendingValue.simplex.name}}</label>
                    <input type="tel1" nbInput fullWidth id="parameter-{{i}}" pattern="[0-9]{3}"
                      placeholder="ENTER PARAMETER" formControlName="shift_a_sixHoursOne"
                      (keydown)="NumberOnly($event)"
                      [readonly]="(cost.controls.description._pendingValue.shift_a_sixHoursOne == 0) ? false : true"
                      [value]="cost.controls.description._pendingValue.shift_a_sixHoursOne"
                      [status]="cost.get('shift_a_sixHoursOne').touched ? (cost.get('shift_a_sixHoursOne').invalid  ? 'danger' : 'success') : 'basic'">
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="(SimplexParaAoneGet.controls.length != 0)">
              <button type="submit" nbButton status="danger"
                [disabled]="simplexparameterAone.get('parareading').invalid || clicked">Submit</button>
            </div>
          </div>
        </form>
      </div>

      <div *ngIf="shiftA2">
        <form [formGroup]="simplexparameterAtwo" (ngSubmit)="onSimplexParameterAtwoSubmit(); clicked = true;">
          <div formArrayName="parareading">
            <div *ngFor="let cost of SimplexParaAtwoGet.controls; let i = index" [formGroupName]="i">
              <div class="row">
                <div class="col-md-12" *ngIf="shiftData">
                  <div class="form-group">
                    <label for="parameter-{{i}}"
                      class="label">{{cost.controls.description._pendingValue.simplex.name}} aa</label>
                    <input type="tel1" nbInput fullWidth id="parameter-{{i}}" pattern="[0-9]{3}"
                      placeholder="ENTER PARAMETER" formControlName="shift_a_sixHoursTwo" (keydown)="NumberOnly($event)"
                      [readonly]="(cost.controls.description._pendingValue.shift_a_sixHoursTwo == 0) ? false : true"
                      [value]="cost.controls.description._pendingValue.shift_a_sixHoursTwo"
                      [status]="cost.get('shift_a_sixHoursTwo').touched ? (cost.get('shift_a_sixHoursTwo').invalid  ? 'danger' : 'success') : 'basic'">
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="(SimplexParaAtwoGet.controls.length != 0)">
              <button type="submit" nbButton status="danger"
                [disabled]="simplexparameterAtwo.get('parareading').invalid || clicked">Submit</button>
            </div>
          </div>
        </form>
      </div>

      <div *ngIf="shiftB1">
        <form [formGroup]="simplexparameterBone" (ngSubmit)="onSimplexParameterBoneSubmit(); clicked = true;">
          <div formArrayName="parareading">
            <div *ngFor="let cost of SimplexParaBoneGet.controls; let i = index" [formGroupName]="i">
              <div class="row">
                <div class="col-md-12" *ngIf="shiftData1">
                  <div class="form-group">
                    <label for="parameter-{{i}}"
                      class="label">{{cost.controls.description._pendingValue.simplex.name}}</label>
                    <input type="tel1" nbInput fullWidth id="parameter-{{i}}" pattern="[0-9]{3}"
                      placeholder="ENTER PARAMETER" formControlName="shift_b_sixHoursOne" (keydown)="NumberOnly($event)"
                      [readonly]="(cost.controls.description._pendingValue.shift_b_sixHoursOne == 0) ? false : true"
                      [value]="cost.controls.description._pendingValue.shift_b_sixHoursOne"
                      [status]="cost.get('shift_b_sixHoursOne').touched ? (cost.get('shift_b_sixHoursOne').invalid  ? 'danger' : 'success') : 'basic'">
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="(SimplexParaBoneGet.controls.length != 0)">
              <button type="submit" nbButton status="danger"
                [disabled]="simplexparameterBone.get('parareading').invalid || clicked">Submit</button>
            </div>
          </div>
        </form>
      </div>

      <div *ngIf="shiftB2">
        <form [formGroup]="simplexparameterBtwo" (ngSubmit)="onSimplexParameterBtwoSubmit(); clicked = true;">
          <div formArrayName="parareading">
            <div *ngFor="let cost of SimplexParaBtwoGet.controls; let i = index" [formGroupName]="i">
              <div class="row">
                <div class="col-md-12" *ngIf="shiftData1">
                  <div class="form-group">
                    <label for="parameter-{{i}}"
                      class="label">{{cost.controls.description._pendingValue.simplex.name}}</label>
                    <input type="tel1" nbInput fullWidth id="parameter-{{i}}" pattern="[0-9]{3}"
                      placeholder="ENTER PARAMETER" formControlName="shift_b_sixHoursTwo" (keydown)="NumberOnly($event)"
                      [readonly]="(cost.controls.description._pendingValue.shift_b_sixHoursTwo == 0) ? false : true"
                      [value]="cost.controls.description._pendingValue.shift_b_sixHoursTwo"
                      [status]="cost.get('shift_b_sixHoursTwo').touched ? (cost.get('shift_b_sixHoursTwo').invalid  ? 'danger' : 'success') : 'basic'">
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="(SimplexParaBtwoGet.controls.length != 0)">
              <button type="submit" nbButton status="danger"
                [disabled]="simplexparameterBtwo.get('parareading').invalid || clicked">Submit</button>
            </div>
          </div>
        </form>
      </div>

    </nb-card-body>
    <nb-card-footer>
      <button class="cancel" nbButton status="danger" (click)="ref.close()">Cancel</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
