<!-- <table class="table">
    <thead>
        <tr>
            <th scope="col">Select Vender</th>
            <th scope="col">Item Name</th>
            <th scope="col">Item Price</th>
            <th scope="col">Vender Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of ItemVenderSorce">
            <td>
                <nb-checkbox></nb-checkbox>
            </td>
            <td>{{item.itemModelPrice.itemName}}</td>
            <td>{{item.priceItem}}</td>
            <td>{{item.vendorModelData.vendorName}}</td>
        </tr>
    </tbody>
</table> -->


<form [formGroup]="FinalForm">
    <table class="table">
        <tbody formArrayName="A">
            <tr *ngFor="let party of Arow.controls; let i = index" [formGroupName]="i">
                <p>demo</p>
                <td formArrayName="B" *ngFor="let price of BCol(i).controls; let j = index">
                    <p>DEMO</p>
                    <div [formGroupName]="j">
                        <input nbInput type="tel" formControlName="Vender" placeholder="Enter Price">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</form>