
<form [formGroup]="FinalForm">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Vender Name</th>
                <th *ngFor="let item of ItemData" scope="col">
                    {{item.itemName}}
                </th>
            </tr>
        </thead>
        <tbody formArrayName="A">
            <tr *ngFor="let party of Arow.controls; let i = index" [formGroupName]="i">
                <h6 scope="col" nbPopover="paymentTermsConditions -  {{VenderData[i].paymentTermsConditions}}" nbPopoverTrigger="hint" nbPopoverPlacement="right"> {{VenderData[i].vendorName}}</h6>
                <td formArrayName="B" *ngFor="let price of BCol(i).controls; let j = index">
                    <div [formGroupName]="j">
                        <nb-checkbox formControlName="final"></nb-checkbox>
                        <input nbInput type="tel" formControlName="priceId" placeholder="Enter priceId" readonly>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <button nbButton (click)="demos()" status="primary">submit</button>
</form>