<nb-card>
    <nb-card-body>
        <div>
            <h2>UNITECH CONSPIN LIMITED </h2>
            <p>ADDRESS :- SURVEY NO 36-39, HIMMATPUR VILLAGE, HIMATNAGAR IDAR HIGHWAY,</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HIMATPUR, TALUKA-IDAR, DIST-SABARKANTHA, GUJRAT-383010</p>
            <p>GST NO :- 24AAACU9349M1ZT.</p>
        </div>
        <div>
            <h6 class="text-center"><u>DELIVARY ORDER</u></h6>
        </div>
        <div>
            <table class="table table-bordered">
                <tr>
                    <td class="text-right"> Dt.</td>
                </tr>
                <tr>
                    <td>
                        <p>TO,</p>
                        <p><br></p>
                        <p><br></p>
                    </td>
                </tr>
            </table>
        </div>

        <div>
            <table class="table table-bordered">
                <tr>
                    <td>
                        <p>Dear Sir,</p>
                        <p>We are requesting you to Deliver 100 bales, Details mentioned Below.</p>
                    </td>
                </tr>
            </table>
        </div>

        <div>
            <table class="table table-bordered">
                <tr>
                    <td>TRANSPORTER</td>
                </tr>
                <tr>
                    <td>TRUCK NO</td>
                </tr>
                <tr>
                    <td>RATE</td>
                </tr>
                <tr>
                    <td>BALES</td>
                </tr>
                <tr>
                    <td>LENGTH</td>
                </tr>
                <tr>
                    <td>MOISTURE</td>
                </tr>
                <tr>
                    <td>TRASH</td>
                </tr>
                <tr>
                    <td>MIC</td>
                </tr>
                <tr>
                    <td>BROKER</td>
                </tr>
            </table>
        </div>

        <div>
            <table class="table table-bordered">
                <tr>
                    <td>
                        <dl>
                            <dt>Important Note:</dt>
                            <ul>
                                <li><p>Dedust Rs. 110/- per Candy as Trade Discount From The Sauda Rate /Deduct Rs 5000/- From Invoice amount directly and mention separately in the bill</p></li>
                                <li><p>Dedust Tare of 50 kgs and sample 8 kgs From the invoice Weight and mention separately in the bill</p></li>
                                <li><p>Truck Should not leave the premises without Final Invoice & Eway Bill.</p></li>
                            </ul>
                        </dl>
                    </td>
                </tr>
            </table>
        </div>

    </nb-card-body>
</nb-card>