<div class="row" *ngIf="store || admin || gm || maintanance">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <div class="row float">

          <button nbButton class="mr-10" (click)="FilterClear()">clear</button>
          <input type="text" class="mr-10" nbInput [(ngModel)]="SearchField" (keyup.enter)="FilterDone()"
            placeholder="Search Item Name">

          <button nbButton status="primary" (click)="FilterOn()"><i class="fa-solid fa-filter"></i></button>
        </div>
        <div *ngIf="FilterOnOff" class="row">
        </div>

      </nb-card-header>
    </nb-card>
  </div>
</div>

<nb-card>
  <nb-card-body>
    <nb-tabset fullWidth>
      <nb-tab tabTitle="View Item">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" (click)="sort('itemName')">Item Name &nbsp; <i class="fa fa-sort"></i></th>
              <th scope="col" (click)="sort('itemDescription')">Item Description &nbsp; <i class="fa fa-sort"></i></th>
              <th scope="col" (click)="sort('drawingNo')">Drawing No &nbsp; <i class="fa fa-sort"></i></th>
              <th scope="col" (click)="sort('catalogNo')">Catalog No &nbsp; <i class="fa fa-sort"></i></th>
              <th scope="col" (click)="sort('paytax')">Tax (%) &nbsp; <i class="fa fa-sort"></i></th>
              <th scope="col" (click)="sort('itemRate')">Item Rate &nbsp; <i class="fa fa-sort"></i></th>
              <th scope="col" (click)="sort('quantity')" *ngIf="admin || store || gm">Quantity &nbsp; <i class="fa fa-sort"></i></th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of item | paginate : 
              {
                itemsPerPage: itemsPerPage,
                currentPage: page,
                totalItems: totalItems
              } | orderBy: key: reverse">
              <th scope="row"> {{ item.itemName}}</th>
              <td>{{item.itemDescription}}</td>
              <td>{{item.drawingNo}}</td>
              <td>{{item.catalogNo}}</td>
              <td>{{item.paytax}}</td>
              <td>{{item.itemRate}}</td>
              <td *ngIf="admin || store || gm">{{item.quantity}}</td>
              <td *ngIf="store || admin">
                <i class="fa-solid fa-pen" (click)="EditItem(item, dialog1)" title="View"></i>
              </td>
              <td *ngIf="maintanance">
                <i class="fa-solid fa-square-plus" (click)="createIssue(item, dialog)" title="Create Issue"></i>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls class="pagi" (pageChange)="ViewItemPage((page = $event))"></pagination-controls>
        <div class="float">
          <nb-select class="form-select" [selected]="5" [(ngModel)]="itemsPerPage" (ngModelChange)="refreshCountries()">
            <nb-option [value]="5">5 items per page</nb-option>
            <nb-option [value]="10">10 items per page</nb-option>
            <nb-option [value]="25">25 items per page</nb-option>
          </nb-select>
        </div>
      </nb-tab>
  
      <nb-tab tabTitle="Create Item" *ngIf="store || admin">
        <form [formGroup]="ItemForm" (ngSubmit)="onItemFormSubmit()">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group" formGroupName="productCategory">
                <label for="productCategory" class="label">Product Category</label>
                <nb-select placeholder="Select Product Category" fullWidth formControlName="pid" [ngClass]="{
                    'form-control-danger':
                      ItemForm.invalid && (ItemForm.dirty || ItemForm.touched)
                  }">
                  <nb-option *ngFor="let item of category" value="{{ item.pid }}">{{ item.productName }}
                  </nb-option>
                </nb-select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" formGroupName="unit">
                <label for="unit" class="label">Unit</label>
                <nb-select placeholder="Select Product Category" fullWidth formControlName="uid" [ngClass]="{
                    'form-control-danger':
                      ItemForm.invalid && (ItemForm.dirty || ItemForm.touched)
                  }">
                  <nb-option *ngFor="let item of unit" value="{{ item.uid }}">{{ item.unitName }}
                  </nb-option>
                </nb-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="itemName" class="label">Item Name <span class="red">*</span></label>
                <input type="text" nbInput fullWidth id="itemName" placeholder="Item Name" formControlName="itemName" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="itemDescription" class="label">Item Description</label>
                <input type="text" nbInput fullWidth id="itemDescription" placeholder="Item Description"
                  formControlName="itemDescription" class="form-control-danger" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="drawingNo" class="label">Drawing No <span class="red">*</span></label>
                <input type="text" nbInput fullWidth id="drawingNo" placeholder="Drawing No" formControlName="drawingNo"
                  (keydown)="NumberOnly($event)" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="catalogNo" class="label">Catalog No <span class="red">*</span></label>
                <input type="text" nbInput fullWidth id="catalogNo" placeholder="Catalog No" formControlName="catalogNo"
                  (keydown)="NumberOnly($event)" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="frequency" class="label">Time Limit (In Days) <span class="red">*</span></label>
                <input type="text" nbInput fullWidth id="frequency" placeholder="Time Limit" formControlName="frequency"
                  class="form-control-danger" (keydown)="NumberOnly($event)" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="remainingItem" class="label">Minimum Quantity</label>
                <input type="text" nbInput fullWidth id="remainingItem" placeholder="Minimum Quantity"
                  formControlName="remainingItem" (keydown)="NumberOnly($event)" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="quantity" class="label">Opening Quantity <span class="red">*</span></label>
                <input type="text" nbInput fullWidth id="quantity" placeholder="Opening Quantity"
                  formControlName="quantity" (keydown)="NumberOnly($event)" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="expiryDate" class="label">Expiry Day</label>
                <input type="text" nbInput fullWidth id="expiryDate" placeholder="Expiry Day"
                  formControlName="expiryDate" class="form-control-danger" (keydown)="NumberOnly($event)" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="paytax" class="label">Tax (%) <span class="red">*</span></label>
                <input type="text" nbInput fullWidth id="paytax" placeholder="Tax" formControlName="paytax"
                  (keydown)="NumberOnly($event)" />
              </div>
            </div>
          </div>
      
          <button type="submit" [disabled]="ItemForm.invalid" nbButton status="danger">submit</button>
        </form>
      </nb-tab>
      <nb-tab *ngIf="admin" tabTitle="Upload Excel File">
        <form [formGroup]="UploadItemForm" (ngSubmit)="onUploadItemFormSubmit()">
          <div class="form-group">
            <label for="Select_Item" class="label">Select Item</label>
            <input type="file" nbInput fullWidth id="itemName" (change)="onFileSelected($event)"
              placeholder="itemName" />
          </div>
          <button type="submit" [disabled]="UploadItemForm.get('file').invalid" nbButton status="danger">
            submit
          </button>
        </form>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>

<ng-template #dialog let-ref="dialogRef">
  <nb-card class="scroll-bar">
    <nb-card-header>Create Issue
      <button type="button" (click)="ref.close()" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </nb-card-header>
    <nb-card-body>
      <form [formGroup]="IssueForm" (ngSubmit)="onIssueFormSubmit()">
        <div class="form-group" formGroupName="storeItemModel">
          <label for="Select_Item" class="label">Select Item <span class="red">*</span></label>
          <nb-select placeholder="Select Product Item" fullWidth formControlName="itemId">
            <nb-option *ngFor="let item of item" [value]="item.itemId">{{ item.itemName }}
            </nb-option>
          </nb-select>
        </div>
        <div class="form-group">
          <label for="quantity" class="label">Quantity <span class="red">*</span></label>
          <input type="text" nbInput fullWidth id="quantity" placeholder="Quantity" formControlName="quantity"
            (keydown)="NumberOnly($event)" />
        </div>
        <div class="form-group">
          <label for="description" class="label">Description <span class="red">*</span></label>
          <input type="text" nbInput fullWidth id="description" placeholder="Description"
            formControlName="description" />
        </div>
        <div class="form-group">
          <label for="requiredDays" class="label">Required Days <span class="red">*</span></label>
          <input type="tel" nbInput fullWidth id="requiredDays" placeholder="Required Days"
            formControlName="requiredDays" (keydown)="NumberOnly($event)" />
        </div>
        <div class="form-group">
          <label for="requiredDays" class="label">Demartment <span class="red">*</span></label>
          <nb-select placeholder="Select Product Item" fullWidth (ngModelChange)="chengeDepartmentName($event)"
            formControlName="deptName">
            <nb-option *ngFor="let item of deptName" value="{{ item }}">{{ item }}
            </nb-option>
          </nb-select>
        </div>
        <div class="form-group">
          <label for="requiredDays" class="label">Machine <span class="red">*</span></label>
          <nb-select placeholder="Select Product Item" fullWidth formControlName="machineName">
            <nb-option *ngFor="let item of MachineName" value="{{ item.id }}">{{ item.name }}
            </nb-option>
          </nb-select>
        </div>
        <button nbButton status="success" [disabled]="IssueForm.invalid" type="submit">Submit</button>
      </form>
    </nb-card-body>
  </nb-card>
</ng-template>

<ng-template #dialog1 let-ref="dialogRef">
  <nb-card class="scroll-bar">
    <nb-card-header>Update Item
      <button type="button" (click)="ref.close()" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </nb-card-header>
    <nb-card-body>
      <form [formGroup]="ItemFormUpdate" (ngSubmit)="onUpdateItem()">
        <div class="form-group" formGroupName="productCategory">
          <label for="productCategory" class="label">Product Category</label>
          <nb-select placeholder="Select Product Category" fullWidth formControlName="pid" [ngClass]="{
              'form-control-danger':
                ItemForm.invalid && (ItemForm.dirty || ItemForm.touched)
            }">
            <nb-option *ngFor="let item of category" [value]="item.pid">{{ item.productName }}
            </nb-option>
          </nb-select>
        </div>
        <div class="form-group" formGroupName="unit">
          <label for="unit" class="label">Unit</label>
          <nb-select placeholder="Select Product Category" fullWidth formControlName="uid" [ngClass]="{
              'form-control-danger':
                ItemForm.invalid && (ItemForm.dirty || ItemForm.touched)
            }">
            <nb-option *ngFor="let item of unit" [value]="item.uid">{{ item.unitName }}
            </nb-option>
          </nb-select>
        </div>
        <div class="form-group">
          <label for="itemName" class="label">Item Name <span class="red">*</span></label>
          <input type="text" nbInput fullWidth id="itemName" placeholder="Item Name" formControlName="itemName" />
        </div>
        <div class="form-group">
          <label for="itemDescription" class="label">Item Description</label>
          <input type="text" nbInput fullWidth id="itemDescription" placeholder="Item Description"
            formControlName="itemDescription" class="form-control-danger" />
        </div>
        <div class="form-group">
          <label for="drawingNo" class="label">Drawing No <span class="red">*</span></label>
          <input type="text" nbInput fullWidth id="drawingNo" placeholder="Drawing No" formControlName="drawingNo"
            (keydown)="NumberOnly($event)" />
        </div>
        <div class="form-group">
          <label for="catalogNo" class="label">Catalog No <span class="red">*</span></label>
          <input type="text" nbInput fullWidth id="catalogNo" placeholder="Catalog No" formControlName="catalogNo"
            (keydown)="NumberOnly($event)" />
        </div>
        <div class="form-group">
          <label for="frequency" class="label">Time Limit (In Days) <span class="red">*</span></label>
          <input type="text" nbInput fullWidth id="frequency" placeholder="Time Limit" formControlName="frequency"
            class="form-control-danger" (keydown)="NumberOnly($event)" />
        </div>
        <div class="form-group">
          <label for="remainingItem" class="label">Minimum Quantity</label>
          <input type="text" nbInput fullWidth id="remainingItem" placeholder="Minimum Quantity"
            formControlName="remainingItem" (keydown)="NumberOnly($event)" />
        </div>
        <div class="form-group">
          <label for="expiryDate" class="label">Expiry Day</label>
          <input type="text" nbInput fullWidth id="expiryDate" placeholder="Expiry Day" formControlName="expiryDays"
            class="form-control-danger" (keydown)="NumberOnly($event)" />
        </div>
        <div class="form-group">
          <label for="paytax" class="label">Tax (%) <span class="red">*</span></label>
          <input type="text" nbInput fullWidth id="paytax" placeholder="Tax" formControlName="paytax"
            (keydown)="NumberOnly($event)" />
        </div>
      
        <button nbButton status="success" [disabled]="ItemFormUpdate.invalid" type="submit">Submit</button>
      </form>
    </nb-card-body>
  </nb-card>
</ng-template>