<div class="row" *ngIf="store">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                <div *ngIf="store" class="float">
                    <button nbButton status="danger" (click)="createIndent()">New Indent</button>
                </div>
            </nb-card-header>
        </nb-card>
    </div>
</div>

<nb-card>
    <nb-card-header>Indent List</nb-card-header>
    <nb-card-body>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Indent Number</th>
                    <th scope="col">Basic Ammount</th>
                    <th scope="col">Total Ammount</th>
                    <th scope="col">Indent Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of IndentSource | paginate : 
                {
                  itemsPerPage: itemsPerPage,
                  currentPage: page,
                  totalItems: totalItems
                }">
                    <th scope="row"> {{ item.indentNumber}}</th>
                    <td>{{item.total}}</td>
                    <td>{{item.includingTax}}</td>
                    <td ng-controller="datCtrl">{{item.created | date : "MMM dd, y - hh:mm:ss a"}}</td>
                    <td *ngIf="item.indentStatus == 'GM' && gm">
                        <span class="badge badge-warning">Panding</span>
                    </td>
                    <td *ngIf="item.indentStatus == 'GM' && !gm">
                        <span class="badge badge-primary">GM</span>
                    </td>
                    <td *ngIf="item.indentStatus == 'ADMIN' && admin">
                        <span class="badge badge-warning">Panding</span>
                    </td>
                    <td *ngIf="item.indentStatus == 'ADMIN' && !admin">
                        <span class="badge badge-primary">Admin</span>
                    </td>
                    <td *ngIf="item.indentStatus == 'STORE' && store">
                        <span class="badge badge-warning">Panding</span>
                    </td>
                    <td *ngIf="item.indentStatus == 'STORE' && !store">
                        <span class="badge badge-primary">Store</span>
                    </td>
                    <td *ngIf="item.indentStatus == 'ADMIN_LAST' && admin">
                        <span class="badge badge-warning">Last Panding</span>
                    </td>
                    <td *ngIf="item.indentStatus == 'ADMIN_LAST' && !admin">
                        <span class="badge badge-primary">Last Admin</span>
                    </td>
                    <td *ngIf="item.indentStatus == 'DONE'">
                        <span class="badge badge-success">Done</span>
                    </td>
                    <td *ngIf="item.indentStatus == 'REJECT'">
                        <span class="badge badge-danger">REJECT</span>
                    </td>
                    <td>
                        <i class="fa-solid fa-eye" (click)="openIndentDetails(item.indentId,dialog)" title="View"></i>
                        <i class="fa-solid fa-pen" (click)="openIndentDetails(item.indentId,dialog)" title="Edit"></i>
                        <i class="fa-solid fa-trash" title="Delete"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls class="pagi" (pageChange)="ViewIndentPage((page = $event))"></pagination-controls>
        <div class="float">
            <nb-select class="form-select" [selected]="5" [(ngModel)]="itemsPerPage"
                (ngModelChange)="refreshCountries()">
                <nb-option [value]="5">5 items per page</nb-option>
                <nb-option [value]="10">10 items per page</nb-option>
                <nb-option [value]="25">25 items per page</nb-option>
            </nb-select>
        </div>
    </nb-card-body>
</nb-card>
