<div class="row" *ngIf="store">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                <div *ngIf="store" class="float">
                    <button nbButton status="danger" (click)="createIndent()">New Indent</button>
                </div>
            </nb-card-header>
        </nb-card>
    </div>
</div>

<div class="row" *ngIf="store || admin || gm">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                <div class="row float">

                    <button nbButton class="mr-10" (click)="FilterClear()">clear</button>
                    <input type="text" class="mr-10" *ngIf="!StatusOnOff" nbInput [(ngModel)]="SearchField"
                        (keyup.enter)="FilterDone()" placeholder="Search Indent Number">
                    <nb-select id="status" class="mr-10" placeholder="Select Status" [(ngModel)]="FiltersStatus"
                        (selectedChange)="FilterStatus($event)">
                        <nb-option value="GM" *ngIf="gm">Pending</nb-option>
                        <nb-option value="ADMIN" *ngIf="admin">Pending</nb-option>
                        <nb-option value="STORE" *ngIf="store">Pending</nb-option>
                        <nb-option value="ADMIN_LAST" *ngIf="admin">Last Pending</nb-option>
                        <nb-option value="GM" *ngIf="!gm">GM</nb-option>

                        <nb-option value="ADMIN" *ngIf="!admin">Admin</nb-option>
                        <nb-option value="STORE" *ngIf="!store">Store</nb-option>
                        <nb-option value="ADMIN_LAST" *ngIf="!admin">Last Admin</nb-option>
                        <nb-option value="DONE">Done</nb-option>
                        <nb-option value="REJECT">Reject</nb-option>
                    </nb-select>
                    <button nbButton status="primary" (click)="FilterOn()"><i class="fa-solid fa-filter"></i></button>
                </div>

                <div *ngIf="FilterOnOff" class="row">
                    <form [formGroup]="FilterDateForm" (ngSubmit)="onfilterDateFormSubmit()">
                        <input nbInput type="date" [max]="getMix()" class="mr-10" formControlName="start" placeholder="Pick Start Date">
                        <input nbInput type="date" [max]="getToday()" [min]="getMin()" class="mr-10" formControlName="end" placeholder="Pick Stop Date">
                        <button nbButton [disabled]="FilterDateForm.invalid">Submit</button>
                    </form>

                </div>

            </nb-card-header>
        </nb-card>
    </div>
</div>

<nb-card>
    <nb-card-header>Indent List</nb-card-header>
    <nb-card-body>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" (click)="sort('indentNumber')">Indent Number &nbsp; <i class="fa fa-sort"></i></th>
                    <th scope="col" (click)="sort('total')">Basic Ammount &nbsp; <i class="fa fa-sort"></i></th>
                    <th scope="col" (click)="sort('includingTax')">Total Ammount &nbsp; <i class="fa fa-sort"></i></th>
                    <th scope="col" (click)="sort('created')">Indent Date &nbsp; <i class="fa fa-sort"></i></th>
                    <th scope="col" (click)="sort('indentStatus')">Status &nbsp; <i class="fa fa-sort"></i></th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of IndentSource | paginate : 
                {
                  itemsPerPage: itemsPerPage,
                  currentPage: page,
                  totalItems: totalItems
                } | orderBy: key: reverse">
                    <th scope="row"> {{ item.indentNumber}}</th>
                    <td>{{item.total}}</td>
                    <td>{{item.includingTax}}</td>
                    <td ng-controller="datCtrl">{{item.created | date : "MMM dd, y - hh:mm:ss a"}}</td>
                    <td *ngIf="item.indentStatus == 'GM' && gm">
                        <span class="badge badge-warning">Pending</span>
                    </td>
                    <td *ngIf="item.indentStatus == 'GM' && !gm">
                        <span class="badge badge-primary">GM</span>
                    </td>
                    <td *ngIf="item.indentStatus == 'ADMIN' && admin">
                        <span class="badge badge-warning">Pending</span>
                    </td>
                    <td *ngIf="item.indentStatus == 'ADMIN' && !admin">
                        <span class="badge badge-primary">Admin</span>
                    </td>
                    <td *ngIf="item.indentStatus == 'STORE' && store">
                        <span class="badge badge-warning">Pending</span>
                    </td>
                    <td *ngIf="item.indentStatus == 'STORE' && !store">
                        <span class="badge badge-primary">Store</span>
                    </td>
                    <td *ngIf="item.indentStatus == 'ADMIN_LAST' && admin">
                        <span class="badge badge-warning">Last Pending</span>
                    </td>
                    <td *ngIf="item.indentStatus == 'ADMIN_LAST' && !admin">
                        <span class="badge badge-primary">Last Admin</span>
                    </td>
                    <td *ngIf="item.indentStatus == 'DONE'">
                        <span class="badge badge-success">Done</span>
                    </td>
                    <td *ngIf="item.indentStatus == 'REJECT'">
                        <span class="badge badge-danger">REJECT</span>
                    </td>
                    <td>
                        <i class="fa-solid fa-eye" (click)="openIndentDetails(item.indentId,dialog)" title="View"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls class="pagi" (pageChange)="ViewIndentPage((page = $event))"></pagination-controls>
        <div class="float">
            <nb-select class="form-select" [selected]="5" [(ngModel)]="itemsPerPage"
                (ngModelChange)="refreshCountries()">
                <nb-option [value]="5">5 items per page</nb-option>
                <nb-option [value]="10">10 items per page</nb-option>
                <nb-option [value]="25">25 items per page</nb-option>
            </nb-select>
        </div>
    </nb-card-body>
</nb-card>