<nb-card>
    <nb-card-header>Po List</nb-card-header>
    <nb-card-body>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">PO Number</th>
                    <th scope="col">Ammount</th>
                    <th scope="col">Vender Name</th>
                    <th scope="col">Po Date</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of poSource | paginate : 
                {
                  itemsPerPage: itemsPerPage,
                  currentPage: page,
                  totalItems: totalItems
                }">
                    <th scope="row"> {{ item.poNumber}}</th>
                    <td>{{item.amount}}</td>
                    <td>{{item.listOfpO[0].vendorModelData.vendorName}}</td>
                    <td ng-controller="datCtrl">{{item.createdDate | date : "MMM dd, y - hh:mm:ss a"}}</td>
                    <td>
                        <i class="fa-solid fa-eye" (click)="openPoDetails(item.poId)" title="View"></i>
                        <!-- <i class="fa-solid fa-pen" (click)="openIndentDetails(item.indentId,dialog)" title="Edit"></i> -->
                        <!-- <i class="fa-solid fa-trash" title="Delete"></i> -->
                        <i class="fa-solid fa-download" (click)="downloadAsPo(item)" title="Download"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls class="pagi" (pageChange)="ViewPoPage((page = $event))"></pagination-controls>
        <div class="float">
            <nb-select class="form-select" [selected]="5" [(ngModel)]="itemsPerPage"
                (ngModelChange)="refreshCountries()">
                <nb-option [value]="5">5 items per page</nb-option>
                <nb-option [value]="10">10 items per page</nb-option>
                <nb-option [value]="25">25 items per page</nb-option>
            </nb-select>
        </div>
    </nb-card-body>
</nb-card>
