
<div class="row">
  <div class="col-xxl-4 col-xl-6 col-md-12">
    <nb-card>
      <nb-card-body>
        <canvas id="canvas" #screen></canvas>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton (click)="image('#canvas')">image</button>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="col-xxl-4 col-xl-6 col-md-12">
    <nb-card>
      <nb-card-body>
        <canvas id="canvas1"></canvas>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton (click)="image('#canvas1')">image</button>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="col-xxl-4 col-xl-6 col-md-12">
    <nb-card>
      <nb-card-body>
        <canvas id="canvas2"></canvas>
      </nb-card-body>
      <nb-card-footer>
        <form [formGroup]="SingleDate">
          <div class="form-group">
            <input type="date" nbInput fullWidth id="Date" placeholder="Search Date" formControlName="date">
          </div>
          <button nbButton (click)="addCol()">image</button>
        </form>
       
      </nb-card-footer>
    </nb-card>
  </div>
</div>
