<div>
    <nb-card>
        <nb-card-body>
            <table class="table table-bordered">
                <tr>
                    <th colspan="6"><br><br></th>
                </tr>
                <tr>
                    <td colspan="3" rowspan="6">
                        <p>Vendor Code :</p>
                        <p>Vendor Name :</p>
                        <p>Vendor Address :</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">Delivery Number</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td colspan="2">DO Date</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td colspan="2">PO Number</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td colspan="2">PO Date</td>
                    <td>1</td>
                </tr>
                <tr>
                
                    <td colspan="3">Delivery Address :</td>
                </tr>
                <tr>
                    <td colspan="6" class="text-center">We request you to arrange delivery as per details mentioned below</td>
                </tr>
                <tr>
                    <td><b>Item No.</b></td>
                    <td><b>Item Code</b></td>
                    <td><b>Item Description</b></td>
                    <td><b>Station</b></td>
                    <td><b>QTY</b></td>
                    <td><b>UOM</b></td>
                </tr>
                <tr>
                    <td><br></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="6">
                    <p>Party Lot No. :</p>
                    <p> Press Running No. :</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        <div class="row">
                            <div class="col-md-6">
                                <p>Contract No. </p>
                                <p>Variety.     </p>
                                <p>Bales.       </p>
                                <p>Rate         </p>
                                <p>Length       </p>
                                <p>Moisture     </p>
                                <p>Trash.       </p>
                                <p>MIC          </p>
                            </div>
                            <div class="col-md-6">
                               <p>Broker</p> 
                               <p>Crop Year.</p>
                               <p><br></p>
                               <p><br></p>
                               <p><br></p>
                               <p><br></p>
                               <p><br></p>
                               <p>RD</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        <div class="row">
                            <div class="col-md-6">
                                <p>Transporter Detail:</p>
                                <p>L.R No</p>
                                <p>Truck No</p>
                            </div>
                            <div class="col-md-6">
                                <p><br></p>
                                <p>Date</p>
                                <p><br></p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        <dl>
                            <dt>Instructions</dt>
                            <ul>
                                <li><p>Dedust Rs. 110/- per Candy as Trade Discount From The Sauda Rate /Deduct Rs 5000/- From Invoice amount directly and mention separately in the invoice</p></li>
                                <li><p>Dedust Tare of 50 kgs and sample 8 kgs From the invoice Weight and mention separately in the invoice</p></li>
                                <li><p>Truck Should not leave the premises without Final Invoice & Eway Bill.</p></li>
                                <li><p>Landed Weight at destination will be Final</p></li>
                                <li><p>Please Check the Truck Conditions and than Load The Truck, if found Demaged it will be Deducted from the Invoice.</p></li>
                                <li><p>Every Bale Must have Sticker with Bale, Lot & PR Detail for identification of the Bales, if not found Rs. 50 Per bales will be deducted.</p></li>
                            </ul>
                        </dl>
                    </td>
                </tr>
            </table>
        </nb-card-body>
    </nb-card>
</div>
